<html>
  <title>Sign up successful</title>
  <body>
    <h1>Congratulations! You have signed up to MakersBnB</h1>
    <div class="fields">
        <form action="/spaces" method="GET">
            <div class="field1">
            <label for="spaces">Click here to view the available spaces</label>
            <br>
            <input id="spaces" type="submit" value="Go to spaces"/>
        </form>
    </div>
  </body>
</html>