<html>
  <head>Wrong Details</head>
  <body>
    <h1>Sorry!</h1>
    <div>We could not find this user. Try again?</div>
        <form action="/login" method="GET">
            <input type="submit" value="Go back">
        </form>
  </body>
</html>